name: nego_design
description: A modern, responsive design system for Flutter applications with simple and customizable widgets
version: 0.0.12
homepage: https://github.com/negoflutter/nego_design
repository: https://github.com/negoflutter/nego_design
issue_tracker: https://github.com/negoflutter/nego_design/issues

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0
  plugin_platform_interface: ^2.0.2
  flutter_animate: ^4.5.2
  toastification: ^3.0.3
  flutter_localizations:
    sdk: flutter
  intl: any
  flutter_otp_text_field: ^1.5.1+1
  lottie: ^3.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  generate: true
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.negocil.nego_design.nego_design
        pluginClass: NegoDesignPlugin
      ios:
        pluginClass: NegoDesignPlugin
      web:
        pluginClass: NegoDesignWeb
        fileName: nego_design_web.dart

  # To add assets to your plugin package, add an assets section, like this:
  assets:
    - assets/1.jpg
    - assets/facebook.png
    - assets/google.png
    - assets/linkedin.png
    - assets/verification_code.json
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Comfortaa
      fonts:
        - asset: fonts/Comfortaa/static/Comfortaa-Bold.ttf
        - asset: fonts/Comfortaa/static/Comfortaa-Light.ttf
        - asset: fonts/Comfortaa/static/Comfortaa-Medium.ttf
        - asset: fonts/Comfortaa/static/Comfortaa-Regular.ttf
        - asset: fonts/Comfortaa/static/Comfortaa-SemiBold.ttf
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
